body {
    margin: 0;
    background-color: azure;
    font-family: sans-serif;
}

#header {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    display: flex;
    width: 100vw;
    height: 60px;
    position: fixed;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color:#fff;
}

@media screen and (max-width:900px) {
    #header {
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        display: flex;
        width: 100vw;
        height: 200px;
        position: fixed;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        color:#fff;
    }
    #nav-bar {
        justify-content: flex-start;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
    }
    
    #header-img {
        justify-content: flex-start;
        width: 40px;
        height: 40px;
    }
    
    .topbar {
        margin-left: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 2em;
    }
    
    .nav-link {
        background-color: rgba(0,0,255,0.2);
        padding: 9px;
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 1.2rem;
        max-height: 40px;
    }
}


#nav-bar {
    justify-content: flex-start;
    margin-right: 40px;
}

#header-img {
    justify-content: flex-start;
    width: 40px;
    height: 40px;
}

.topbar {
    background-color: rgba(0,0,255,0.2);
    border-radius: 10px;
    max-height: 40px;
    padding: 4px;
    margin-left: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 2em;
}

.nav-link {
    background-color: rgba(0,0,255,0.2);
    padding: 9px;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    max-height: 40px;
}

main {
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    margin-top: 30px;
    width: 90vw;
    background-color: aqua;
    padding: 10px;
}
#intro-header {
    font-size: 1.5rem;
    font-weight: 700;
}

#big {
    font-size: 1.2em;
    font-weight: 600;
}

#intro > p iframe{
    padding-left: 20px;
}

#theform {
    margin-top: 20px;
    background-color: aqua;
    width: 50vw;
}
